
{% block css %}
<style>
        .mr {
            white-space: nowrap; /* Evita que el texto se ajuste a varias líneas */
            font-size: 0.8rem; /* Hace el texto más pequeño */
            margin: 0;
            padding: 0;
        }

    table {
      border-collapse: separate;
      border-spacing: 1 30px;
    }
    </style>
  
{% endblock %}
  

{% block contenido %}
 <img src="/static/img/deficiente.png" alt="trofeo" class="mx-auto d-block" width="250px" height="250px">
  {% for titulo in titulo  %}
   <h1 class="text-center">{{titulo.nombre}}</h1>
 {% endfor %}
 <div class="card-body table-responsive W-100">
      <table class="table">
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">RED_VHF : </th>
            <th class="px-0 py-0 p-0 m-0 mr">E-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">B-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">R-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">P-S</th>
            <th class="px-0 py-0 p-0 m-0 mr">A-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">IN-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-I-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-P</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-E-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E-E</th>
          </tr>
        </thead>
        <tbody class="table-group-divider  separar">
          {% for vhf in vhf %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.ensamblaje}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.caracter}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.b_frecuencia}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.r_frecuencia}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.t_equipo}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.potencia_s}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.alcance}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.modulacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.accesorio}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.config}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.expediente}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.calculo_a}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.instalacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.conectividad}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.indicativos}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.autenticacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.prearreglado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.micro}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{vhf.tiempo}}</td>
          </tr>
          {% endfor %}
        </tbody>

        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">CRIPTOGRAFIA : </th>
            <th class="px-0 py-0 p-0 m-0 mr">P-B</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-D</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E</th>

        <tbody class="table-group-divider">
          {% for cripto in cripto %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.principios}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.metodos}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.medidas}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.cifrado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.decifrado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{cripto.tiempo}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">RED_HF : </th>
            <th class="px-0 py-0 p-0 m-0 mr">E-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">B-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">R-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">P-S</th>
            <th class="px-0 py-0 p-0 m-0 mr">A-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">IN-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-I-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">M-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-P</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-E-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E-E</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for hf in hf %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.ensamblaje}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.caracter}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.b_frecuencia}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.r_frecuencia}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.t_equipo}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.potencia_s}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.alcance}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.modulacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.accesorio}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.config}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.expediente}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.calculo_a}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.instalacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.conectividad}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.indicativos}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.autenticacion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.prearreglado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.micro}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{hf.tiempo}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">MENSAJERO : </th>
            <th class="px-0 py-0 p-0 m-0 mr">R-M-S</th>
            <th class="px-0 py-0 p-0 m-0 mr">S-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">Q-M</th>
             <th class="px-0 py-0 p-0 m-0 mr">IM-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">V-D-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-S-R</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E-L</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">N-OF-EX</th>
            <th class="px-0 py-0 p-0 m-0 mr">FECHA</th>
            <th class="px-0 py-0 p-0 m-0 mr">PARA</th>
            <th class="px-0 py-0 p-0 m-0 mr">D-OFC-EX</th>
            <th class="px-0 py-0 p-0 m-0 mr">HORA</th>
            <th class="px-0 py-0 p-0 m-0 mr">FIR-GRA</th>
            <th class="px-0 py-0 p-0 m-0 mr">P-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">TRA-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E-E</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for mensaje in mensaje %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.rmsjcf}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.smsjero}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.smsje}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.imsjero}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.vtamjs}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.tpomsj}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.entsalid}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.celibro}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.clastrans}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.nofiexp}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.fcha}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.pra}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.dcofic}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.hra}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.fgrado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.pfsica}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.trmsje}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.tepleado}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mensaje.tiempo}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">MTRR : </th>
            <th class="px-0 py-0 p-0 m-0 mr">E-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">O-U</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-L</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">DPRFR</th>
            <th class="px-0 py-0 p-0 m-0 mr">S-D</th>
            <th class="px-0 py-0 p-0 m-0 mr">PCO</th>
            <th class="px-0 py-0 p-0 m-0 mr">LA-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">S-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">S-V</th>
            <th class="px-0 py-0 p-0 m-0 mr">U-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">CE-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">O-B</th>
            <th class="px-0 py-0 p-0 m-0 mr">CE-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">F-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">A-D</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for mtrr in mtrr %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.explmis}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.orgunid}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.elinea}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.encolum}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.dprfr}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.segdesp}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.pcolm}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.laperfue}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.sectiro}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.sectvig}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.usoarms}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.detinfor}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.centequi}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.observa}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.contequipo}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.Fugmovi}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{mtrr.adopdisp}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">CODIGO MORSE : </th>
            <th class="px-0 py-0 p-0 m-0 mr">C-I</th>
            <th class="px-0 py-0 p-0 m-0 mr">QE-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">UC-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">D-C</th>
            <th class="px-0 py-0 p-0 m-0 mr">TE-T</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for morse in morse %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{morse.codinter}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{morse.qsc}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{morse.usocorr}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{morse.decifrad}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{morse.timpempl}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <thead>
          <tr>
            <th class="px-0 py-0 p-0 m-0 mr">RADIOAFICIONADO : </th>
            <th class="px-0 py-0 p-0 m-0 mr">D-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">B-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">R-F</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">P-S</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-M</th>
            <th class="px-0 py-0 p-0 m-0 mr">A-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-E</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-C-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">C-A</th> 
            <th class="px-0 py-0 p-0 m-0 mr">E-EX</th>
            <th class="px-0 py-0 p-0 m-0 mr">INS-A</th>
            <th class="px-0 py-0 p-0 m-0 mr">P-R-T</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-IND</th>
            <th class="px-0 py-0 p-0 m-0 mr">AUT-R</th>
            <th class="px-0 py-0 p-0 m-0 mr">EM-PRE</th>
            <th class="px-0 py-0 p-0 m-0 mr">E-EFC</th>
            <th class="px-0 py-0 p-0 m-0 mr">T-EM-E</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for radio in radio %}
          <tr>
            <td class="px-0 py-0 p-0 m-0 mr"></td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.descripc}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.ensablajee}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.ctecnicas}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.banfrec}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.ranfrec}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.tpequip}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.ptsalid}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.tpmodul}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.alcanceq}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.configequ}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.elabexp}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.calcant}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.elabcion}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.instaena}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.proctel}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.empleind}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.autenradi}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.empleados}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.emplefic}}</td>
            <td class="px-0 py-0 p-0 m-0 mr">{{radio.tmplado}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 </div>
  {% endblock %}

