<form action=""  enctype="multipart/form-data" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="nombre" class="form-label">Unidad</label>
    <input type="text" class="form-control" name="nombre" id="nombre"  placeholder="Unidad">
    {% for error in formularios.errors.nombre %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="vhf">RED_VHF</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  style="width: 100%;" id="vhf" name="vhf" aria-label="Select  example">
    <option selected="selected"> SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE RED_VHF </option>
    {% for uno  in vhf %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>

    {% for error in formularios.errors.vhf %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="cripto">CRIPTOGRAFIA</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="cripto" name="cripto">
    <option value=""> SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE CRIPTOGRAFIA </option>
    {% for uno  in cripto %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
    {% for error in formularios.errors.cripto %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="hf">RED_HF</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="hf" name="hf">
    <option value=""> SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE RED_HF</option>
    {% for uno  in hf %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
     {% for error in formularios.errors.hf %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="mensaje">MENSAJERO</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="mensaje" name="mensaje">
    <option value="">SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE MENSAJERO</option>
    {% for uno  in mensaje %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
    {% for error in formularios.errors.mensaje %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="mtrr">MTRR</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="mtrr" name="mtrr">
    <option value="">SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE MTRR </option>
    {% for uno  in mtrr %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
    {% for error in formularios.errors.mtrr %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group ">
    <label for="morse">CODIGO MORSE</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="morse" name="morse">
    <option value="">SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE CODIGO MORSE</option>
    {% for uno  in morse %}
      <option value="{{uno.id}}">EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
    {% for error in formularios.errors.morse %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    
  </div>

  <div class="form-group ">
    <label for="radio">RADIOAFICIONADOS</label>
    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"  class='selectpicker' style="width: 100%;" id="radio" name="radio">
    <option value="">SELECCIONE LA CANTIDAD QUE GENERO EL EQUIPO DE LA CANCHA DE RADIOAFICIONADOS </option>
    {% for uno  in radio %}
      <option value="{{uno.id}}"> EQUIPO - - - - {{uno.id}} - - - - - {{uno.sumatoria}}</option>
       {% endfor %}
    </select>
    {% for error in formularios.errors.radio %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group">
    <label for="pruebaC" class="form-label">Prueba Conocimiento</label>
    <input type="number" class="form-control" name="pruebaC" id="pruebaC"  placeholder="Prueba Conocimiento">
    {% for error in formularios.errors.pruebaC %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="form-group">
    <label for="demerito" class="form-label">Demerito</label>
    <input type="number" class="form-control" name="demerito" id="demerito"  placeholder="Prueba Conocimiento">
    {% for error in formularios.errors.pruebaC %}
      <span class="error">{{ error }}</span>
      {% endfor %}
  </div>
 
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
      <button type="submit" class="btn btn-primary">GUARDAR</button>
  </div>
  
</form>

  